body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: auto;
  padding: 20px 0;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  transition: transform .3s;
  height: 150px;
   width: 200px;
}

.card:hover {
  transform: scale(1.05);
}

.card .fa-users {
  float: left;
  margin-top: 0.5rem;
}

.card .col h2, .card .col p {
  margin: 0;
}

.navbar .navbar-nav .nav-link.btn-danger {
  background-color: red;
  border-color: red;
}